@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Sans&family=Gloria+Hallelujah&family=Orbitron&family=Play&family=Press+Start+2P&family=Righteous&family=Space+Mono&display=swap');

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: 'dm sans', sans-serif;
}