@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Sans&family=Gloria+Hallelujah&family=Orbitron&family=Play&family=Press+Start+2P&family=Righteous&family=Space+Mono&display=swap');

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    top: 0;
    z-index: 1;
    height: 60px;
    font-family: 'DM Sans', sans-serif;
}
nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 1rem;
}
